admin_password: change_pw_for_live
balancer:
  enabled: true
  min_assignments_per_skill: 5
  imbalance_threshold_pct: 30
  allow_fallback_on_imbalance: true
  fallback_chain:
    Normal: []
    Notfall:
      - Normal
    Herz:
      - - Notfall
        - Normal
    Privat:
      - Notfall
      - Normal
    Msk:
      - Notfall
      - Normal
    Chest:
      - Notfall
      - Normal
modalities:
  ct:
    label: CT
    nav_color: '#1a5276'
    hover_color: '#153f5b'
    background_color: '#e6f2fa'
    factor: 1.0
  mr:
    label: MR
    nav_color: '#777777'
    hover_color: '#555555'
    background_color: '#f9f9f9'
    factor: 1.2
  xray:
    label: XRAY
    nav_color: '#239b56'
    hover_color: '#1d7a48'
    background_color: '#e0f2e9'
    factor: 0.33
