<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}RadIMO Cortex{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block head_extra %}{% endblock %}
  <style>
    {% block base_styles %}{% endblock %}
    {% include 'partials/header_styles.html' %}
    {% block styles %}{% endblock %}
  </style>
</head>

<body{% block body_attrs %}{% endblock %}>
  {% block content %}{% endblock %}
</body>

</html>
